In [21]:
import pandas as pd
import numpy as np 
df1 = pd.read_csv("C:\\Users\\moham\\OneDrive\\Desktop\\train.csv")
df2 = pd.read_csv("C:\\Users\\moham\\OneDrive\\Desktop\\test.csv")
print(f"df1 shape : {df1.shape}\ndf2 shape : {df2.shape}")
df = pd.concat([df1,df2])
df.shape
df.sample()

df1 shape : (2000, 21)
df2 shape : (1000, 21)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,id
281,1429,0,1.5,1,0,1,40,0.9,100,3,14,246,820,3945,11,7,18,1,0,1,3.0,NaN

In [23]:
df2.sample()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
620,621,657,0,1.3,1,4,0,28,1.0,118,2,19,1444,1735,2602,9,0,7,0,0,1

In [22]:
df1.sample()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1452,1450,0,2.1,0,1,0,31,0.6,114,5,4,1573,1639,794,11,5,9,0,1,1,1

In [24]:
df.sample(10)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,id
460,1742,0,2.3,1,9,1,43,0.4,170,7,12,453,681,2610,12,3,10,1,0,1,2.0,NaN
198,1072,1,0.5,1,6,1,4,0.5,92,1,12,1019,1640,2878,7,5,13,1,0,1,NaN,199.0
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1,1.0,NaN
665,1721,1,0.5,1,4,1,33,0.5,128,4,5,871,1048,707,19,2,5,1,1,1,0.0,NaN
1061,1522,1,0.7,1,4,0,28,0.2,124,1,5,952,1191,1368,14,5,17,1,0,1,1.0,NaN
1811,537,1,2.0,0,1,1,55,0.3,103,7,2,1041,1430,2029,10,5,12,1,1,1,1.0,NaN
179,1735,1,2.7,0,5,1,21,0.1,126,3,8,282,1261,2597,16,12,8,1,0,1,NaN,180.0
275,1784,1,1.4,0,1,1,3,0.3,125,5,5,1424,1672,2110,10,5,8,1,0,1,NaN,276.0
534,1656,1,1.6,1,0,0,16,1.0,117,7,2,320,899,2856,14,3,20,1,1,1,2.0,NaN
1037,1104,0,1.7,0,1,1,60,0.4,199,2,13,653,1413,1229,6,0,3,1,1,1,0.0,NaN

In [25]:
df.drop(columns=['blue','dual_sim','m_dep','talk_time','three_g','id'],inplace=True)
df.sample(10)

,battery_power,clock_speed,fc,four_g,int_memory,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,touch_screen,wifi,price_range
1988,1547,2.9,2,0,57,114,1,3,347,957,1620,9,2,1,1,1.0
343,1297,0.5,12,0,17,196,1,14,559,813,3652,19,4,1,1,NaN
835,1224,1.6,9,0,33,157,1,18,522,563,3796,10,5,1,0,3.0
510,958,2.4,1,0,54,166,7,2,121,630,3324,11,10,0,1,NaN
1071,1540,0.7,1,0,60,197,7,12,704,822,1591,19,0,0,1,1.0
882,1156,2.7,1,1,30,173,3,16,945,1913,2735,16,15,0,1,2.0
164,1441,2.1,11,1,3,118,8,17,577,1071,2317,16,4,0,1,2.0
245,1373,1.0,2,0,50,127,7,12,105,673,3800,8,3,0,0,3.0
147,1461,2.4,3,1,40,141,7,4,1265,1298,3799,16,1,0,0,3.0
117,1901,2.7,4,0,62,133,3,17,401,1989,1786,16,10,1,1,NaN

In [31]:
df.rename(columns={'fc':'front camera','mobile_wt':'weight','sc_h':'height in cm','sc_w':'width in cm','four_g':'4g','int_memory':'rom','weight':'weight in grams'},inplace=True)
df.sample(10)

,battery_power,clock_speed,front camera,4g,rom,weight in grams,n_cores,pc,px_height,px_width,ram,height in cm,width in cm,touch_screen,wifi,price_range
16,1985,0.5,14,1,26,163,2,17,613,1511,2083,13,3,1,0,NaN
520,1875,0.5,11,1,55,91,1,17,1802,1942,2712,7,2,0,1,3.0
21,1709,2.1,1,0,13,156,2,2,974,1385,3283,17,1,0,0,3.0
1257,1449,0.5,0,0,52,105,6,0,211,947,2036,5,1,1,0,1.0
1062,587,2.5,16,1,51,111,1,17,244,1361,2746,10,4,0,1,2.0
473,932,0.5,1,1,60,104,4,2,268,1078,1459,6,1,1,0,0.0
1435,688,2.5,9,0,40,109,5,20,376,1957,1382,12,7,1,0,1.0
211,1539,2.6,0,0,41,159,8,0,1112,1666,2107,15,9,0,1,2.0
287,1563,2.4,0,1,24,170,8,0,142,1699,3660,7,5,1,0,3.0
1001,1524,2.6,5,0,57,124,2,12,629,635,947,11,4,1,1,0.0

In [29]:
df.shape

(3000, 16)

In [32]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
battery_power,3000.0,1241.849000,437.063804,500.0,863.75,1232.0,1619.00,1999.0
clock_speed,3000.0,1.528467,0.820358,0.5,0.70,1.5,2.30,3.0
front camera,3000.0,4.404000,4.383742,0.0,1.00,3.0,7.00,19.0
4g,3000.0,0.510000,0.499983,0.0,0.00,1.0,1.00,1.0
rom,3000.0,32.581667,18.152810,2.0,16.00,33.0,48.00,64.0
weight in grams,3000.0,140.003000,35.213809,80.0,109.00,140.0,170.00,200.0
n_cores,3000.0,4.456333,2.289361,1.0,2.00,4.0,6.00,8.0
pc,3000.0,9.962333,6.073923,0.0,5.00,10.0,15.00,20.0
px_height,3000.0,639.112333,440.202998,0.0,277.75,564.0,932.50,1960.0
px_width,3000.0,1247.601667,434.666168,500.0,865.00,1248.0,1634.00,1998.0
ram,3000.0,2129.141333,1085.694231,256.0,1212.75,2147.5,3065.25,3998.0
height in cm,3000.0,12.202667,4.251151,5.0,9.00,12.0,16.00,19.0
width in cm,3000.0,5.616667,4.322494,0.0,2.00,5.0,9.00,18.0
touch_screen,3000.0,0.502000,0.500079,0.0,0.00,1.0,1.00,1.0
wifi,3000.0,0.507000,0.500034,0.0,0.00,1.0,1.00,1.0
price_range,2000.0,1.500000,1.118314,0.0,0.75,1.5,2.25,3.0

In [39]:
import seaborn as sns
import matplotlib.pyplot as plt

In [48]:
def ram_convertor(arg):
    return np.round((arg/1000),2)

In [49]:
df['ram'] = df['ram'].apply(ram_convertor)
df.head()

,battery_power,clock_speed,front camera,4g,rom,weight in grams,n_cores,pc,px_height,px_width,ram,height in cm,width in cm,touch_screen,wifi,price_range
0,842,2.2,1,0,7,188,2,2,20,756,2.55,9,7,0,1,1.0
1,1021,0.5,0,1,53,136,3,6,905,1988,2.63,17,3,1,0,2.0
2,563,0.5,2,1,41,145,5,6,1263,1716,2.60,11,2,1,0,2.0
3,615,2.5,0,0,10,131,6,9,1216,1786,2.77,16,8,0,0,2.0
4,1821,1.2,13,1,44,141,2,14,1208,1212,1.41,8,2,1,0,1.0

In [61]:
def battery_convertor(arg):
    return np.round((arg/1000),1)*1000

4500.0

In [63]:
df['battery_power'] = df['battery_power'].apply(battery_convertor)
df.rename(columns={'battery_power':'battery mAh'},inplace=True)
df.head()

,battery mAh,clock_speed,front camera,4g,rom,weight in grams,n_cores,pc,px_height,px_width,ram,height in cm,width in cm,touch_screen,wifi,price_range
0,800.0,2.2,1,0,7,188,2,2,20,756,2.55,9,7,0,1,1.0
1,1000.0,0.5,0,1,53,136,3,6,905,1988,2.63,17,3,1,0,2.0
2,600.0,0.5,2,1,41,145,5,6,1263,1716,2.60,11,2,1,0,2.0
3,600.0,2.5,0,0,10,131,6,9,1216,1786,2.77,16,8,0,0,2.0
4,1800.0,1.2,13,1,44,141,2,14,1208,1212,1.41,8,2,1,0,1.0

In [67]:
df[df['price_range'] == 1.0].sample(10)

,battery mAh,clock_speed,front camera,4g,rom,weight in grams,n_cores,pc,px_height,px_width,ram,height in cm,width in cm,touch_screen,wifi,price_range
1948,700.0,1.4,0,0,25,110,7,14,88,709,1.97,17,5,1,1,1.0
1673,1500.0,1.9,7,1,25,152,4,9,395,1853,1.79,13,11,0,1,1.0
1051,900.0,1.7,3,1,35,103,3,7,663,1805,1.90,12,8,1,1,1.0
951,600.0,1.4,0,1,46,102,6,10,709,1915,1.40,19,14,1,0,1.0
451,1000.0,1.7,0,1,54,107,3,4,681,1050,1.90,16,8,0,1,1.0
1289,600.0,0.5,7,0,58,130,5,8,1021,1958,1.91,14,5,0,0,1.0
101,1700.0,1.1,4,1,12,119,8,9,824,881,1.31,16,7,0,1,1.0
1926,1100.0,0.5,0,1,40,156,7,14,675,1163,1.46,9,3,1,0,1.0
653,600.0,1.6,8,0,35,186,7,20,177,1282,2.60,13,5,1,0,1.0
488,1900.0,1.8,0,0,20,186,5,4,518,592,1.12,17,10,0,0,1.0

In [66]:
df[df['price_range'] == 3.0].sample(10)

,battery mAh,clock_speed,front camera,4g,rom,weight in grams,n_cores,pc,px_height,px_width,ram,height in cm,width in cm,touch_screen,wifi,price_range
1868,1800.0,0.5,1,1,22,122,8,4,291,1318,3.30,7,5,0,0,3.0
496,1600.0,0.5,11,0,5,124,3,12,395,1579,3.64,7,4,0,0,3.0
1275,1700.0,1.5,4,1,6,170,1,15,590,997,3.49,6,4,1,1,3.0
41,1600.0,2.3,8,1,41,185,2,10,1725,1932,3.34,18,10,1,0,3.0
1317,1800.0,1.1,13,1,17,157,4,18,1621,1773,3.13,12,4,0,1,3.0
746,1900.0,2.1,7,1,43,185,1,18,451,819,3.62,14,8,1,1,3.0
581,1500.0,0.5,8,1,18,88,3,17,1079,1897,3.61,12,10,1,1,3.0
879,900.0,2.1,7,0,18,136,2,11,1102,1793,3.41,13,8,0,0,3.0
1543,800.0,0.5,7,1,44,89,8,8,1100,1437,3.42,13,11,1,0,3.0
1176,1600.0,1.5,12,1,14,187,4,15,1058,1109,2.84,6,5,0,0,3.0